title=About Adblock Plus

<h2 id="project">{{ what-is-abp[heading] What is Adblock Plus }}</h2>

<p>
    {{ what-is-abp-1 Adblock Plus is a free extension that allows you to customize your web experience. You can block annoying ads, disable tracking and lots more. It’s available for all major desktop browsers and for your mobile devices. }}
</p>

<p>
    {{ what-is-abp-2 Adblock Plus is an open source project licensed under <a href="https://www.gnu.org/licenses/gpl.html" target="_blank" title="{{ gpl-label[link tooltip text] General Public License version 3 }}">GPLv3</a> and subject to its <a href="https://www.gnu.org/licenses/gpl.html" target="_blank" title="{{ gpl-terms-label[link tooltip text] Terms of use for General Public License }}">Terms of Use</a>. }}
</p>

<h2 id="workings">{{ how-does-abp-work[heading] How does Adblock Plus work? }}</h2>

<p>
   {{ how-does-abp-work-1 Choose what <strong>you</strong> want to see when browsing the web by using filter lists to block unwanted elements, like ads or tracking. }}
</p>

<h3 id="filter-lists">{{ how-does-abp-work[subheading] What are filter lists? }}</h3>

<p>
    {{ how-does-abp-work-2 Filter lists are sets of rules that tell your browser which elements to block. You can block as little or as much as you want. Choose from pre-made, externally maintained filter lists, or <a href="https://help.eyeo.com/en/adblockplus/how-to-write-filters?3910d1c0" title="{{ how-to-write-filters-label[link tooltip text] How to write filters }}">create your own (English only)</a>. Almost all pre-made filter lists are created, published and maintained by users <span
        class="italic">for</span> users under open source licenses. }}
</p>

<p>
    {{ how-does-abp-work-3 <strong>Many ads have tracking built in and some may even contain malware. Because of this, Adblock Plus provides certain levels of tracking and malware protection by default. If you want, you can add additional tracking and malware filter lists to increase your protection.</strong> }}
</p>

<h2 id="default-filter-lists">{{ default-filter-lists[heading] Default filter lists }}</h2>

<p>
    {{ default-filter-lists-1 The following filter lists are enabled by default when you install Adblock Plus: }}
</p>

<h3 id="blacklisted-ads">{{ blacklisted-ads[heading] Blacklisted Ads }}</h3>

<p>
    {{ blacklisted-ads-1 A filter list that blocks ads (e.g. EasyList) based on your browser’s language settings. }}
</p>

<p>
    {{ blacklisted-ads-2 eyeo GmbH is not related to the EasyList project and therefore has no right to, or control over, its filter list content. Visit the <a href="https://easylist.to/" target="_blank" title="{{ easylist-website-tooltip[link tooltip text] EasyList Community website }}">EasyList Community</a> for more information. }}
</p>

<h3 id="acceptableads"><a href="acceptable-ads">{{ acceptable-ads[heading] Acceptable Ads }}</a></h3>

<p>
    {{ acceptable-ads-1 A feature that supports a better web by allowing nonintrusive, respectful ads that comply with the Acceptable Ads criteria agreed upon by the <a href="https://acceptableads.org" target="_blank" title="{{ aac-website-label[link tooltip text] Acceptable Ads Committee website }}">Acceptable Ads Committee</a>.}}
</p>

<p>
    {{ acceptable-ads-2 This list is open source. Want to block all ads? No problem. Click <a href="acceptable-ads#optout" title="{{ opt-out-label[link tooltip text] How to opt out of Acceptable Ads }}">here</a> to learn how. }}
</p>

<p>
    {{ acceptable-ads-3 These filter lists are enabled to get you started. You can keep them, modify them, remove them and / or add other filter lists - it’s up to you. }}
</p>

<img src="images/how-adblock-plus-works.png">

<h2 id="privacy">{{ data-collection[heading] Does Adblock Plus collect any user data? }}</h2>

<p>
    {{ data-collection-1 We do not specifically collect any user data. Most of your data (e.g. what websites you visit) is never sent to our servers to begin with. Please see our <a href="privacy" title="{{ privacy-label[link tooltip text] Privacy Policy of Adblock Plus }}">Privacy Policy</a> for more details. }}
</p>

<h2 id="monetization">{{ how-is-abp-financed[heading] How is Adblock Plus financed? }}</h2>

<p>
    {{ how-is-abp-financed-1 Our main source of revenue comes as part of the Acceptable Ads initiative, which is managed by an <a href="https://acceptableads.com/en/committee/" target="_blank" title="{{ aac-website-label }}">independent committee</a>. }}
</p>

<p>
    {{ how-is-abp-financed-2 Implementing the Acceptable Ads criteria is part of eyeo’s (the company behind Adblock Plus) attempt to pursue a different vision of online advertising. It requires significant effort on eyeo’s side including, but not limited to, ongoing review and monitoring of the individual whitelisted ads, advising participants, and providing technical support. These services cannot be done as a hobby, or completely taken over by volunteers. }}
</p>

<p>
    {{ how-is-abp-financed-3 Therefore we only charge large entities a license fee so that we can offer the same whitelisting services to everyone and maintain our resources to develop the best software for our users. }}
</p>

<p>
    {{ how-is-abp-financed-4 <strong>FACT:</strong> Around 90 percent of licenses are granted for free to smaller entities. }}
</p>

<p>
    {{ how-is-abp-financed-5 We qualify an entity as large when it gains more than 10 million additional ad impressions per month due to participation in the Acceptable Ads initiative. For a large entity, our licensing fee normally represents 30 percent of the additional revenue created by whitelisting its Acceptable Ads. }}
</p>

<p>
    {{ how-is-abp-financed-6 <strong>Every entity on the whitelist - paying participant or non-paying participant - MUST maintain the same strict criteria that our users accepted as part of the Acceptable Ads initiative. We will never accept any ad that doesn't meet the <a href="acceptable-ads#criteria" title="{{ aa-creteria-label[link tooltip text] Acceptable Ads criteria }}">criteria</a>, and there is no way to buy a spot on the Acceptable Ads list. All whitelisted ads and participating entities are publicly listed on our <a href="https://adblockplus.org/forum/viewforum.php?f=12" target="_blank" title="{{ aa-proposals-forum-label[link tooltip text] Acceptable Ads proposals forum }}">forum</a>. Feel free to discuss and share your opinions.</strong> }}
</p>

<h3 id="whymoney">{{ about-aa[heading] About Acceptable Ads }}</h3>

<p>
    {{ about-aa-1 <strong>FACT:</strong> We don't think all ads are bad and recognize that ads finance many websites. That’s why we believe that partial ad blocking is better than full ad blocking. }}
</p>

<p>
    {{ about-aa-2 Back in 2011, after discussions with Adblock Plus users and our community at large, we began implementing the Acceptable Ads initiative. The initiative outlines <a href="acceptable-ads#criteria" title="{{ aa-creteria-label }}">strict criteria</a> that identify nonintrusive ads. Thanks to the initiative, Adblock Plus users have the option to display certified ads that are part of the Acceptable Ads initiative or to disable the feature and browse free of annoying ads. }}
</p>

<p>
    {{ about-aa-3 Since 2017, the Acceptable Ads initiative is governed by an independent committee that wants to make advertising better. To learn more, visit <a href="https://acceptableads.com" target="_blank" title="{{ aa-website-label[link tooltip text] Acceptable Ads website }}">AcceptableAds.com</a>. To view the list of Acceptable Ads, visit the <a href="https://adblockplus.org/forum/viewforum.php?f=12" target="_blank" title="{{ aa-proposals-forum-label }}">Acceptable Ads proposals forum</a>. }}
</p>

<p>
    {{ about-aa-4 Advertisers and publishers that want to adhere to the Acceptable Ads criteria can <a href="acceptable-ads#get-whitelisted" target="_blank" title="{{ get-whitelisted-label[link tooltip-text] Apply to get whitelisted }}">apply</a> to be added to the Acceptable Ads whitelist. Only large entities that gain more than 10 million additional ad impressions through their participation are required to pay a monthly fee. For more information, read about <a href="#monetization" title="{{ abp-finance-label[link tooltip text] How Adblock Plus is financed }}">how we are financed</a>. }}
</p>
